body {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-color: darkgray;
}

.navbar, .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  background-color: gray;
}

div.navbar-brand {
  padding-top: 2em;
  margin-bottom: 2em;
}

main {
  margin: 9em;
}

.label {
  text-align: left;
}

footer.footer {
  background-color: gray;
}

@media only screen and (max-width: 586px) {
  main {
    margin: 2em 2em 2em 2em;
  }
}